/** {
	border: 1px dashed white;
}*/

#question {
	position: fixed;
	width: 600px;
	height: 75px;
	font-family: Lato;
	font-size: 1.3em;
	font-weight: normal;
	color: white;
	margin-left: 600px;
	margin-top: 120px;
	padding-bottom: 40px;
}

#questionNumber {
	position: fixed;
	width: 600px;
	height: 75px;
	font-family: Lato;
	font-size: 1.5em;
	font-weight: normal;
	color: white;
	margin-left: 600px;
	margin-top: 60px;
	padding-bottom: 40px;
}

body, html {
	width: 100%;
	height: 960px;
	margin: 0px;
	background-color: #800020;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
  	-o-user-select: none;
  	user-select: none; 
}

img {
	position: fixed;
	margin-top: 80px;
	margin-left: 70px;
	margin-right: 0px;
	height: 445px;
	width: 455px;
}

#finalResults {
	position: fixed;
	width: 600px;
	height: 75px;
	font-family: Lato;
	font-size: 1.5em;
	font-weight: normal;
	color: white;
	margin-left: 600px;
	margin-top: 60px;
	padding-bottom: 40px;
	visibility: hidden;
}

.form_container2,
.form_container3,
.form_container4,
.form_container5,
.form_container6,
.form_container7,
.form_container8 {
	visibility: hidden;
	position: fixed;
	width: 250px;
	border: 0px;
	margin-left: 680px;
	margin-top: 175px;
}

.form_container1 {
	position: fixed;
	visibility: visible;
	width: 250px;
	border: 0px;
	margin-left: 680px;
	margin-top: 175px;
}

ul {
	position: relative;
	list-style: none;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

li {
	font-family: Lato;
	font-size: 1.2em;
	color: white;
	line-height: 55px;
}

#submit {
	position: fixed;
	width: 150px;
	height: 50px;
	margin-left: 683px;
	margin-top: 430px;
	border-radius: 5px;
	border: 3px solid white;
	color: white;
	font-family: Lato;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}

#btnText {
	position: relative;
	width: 80px;
	height: 25px;
	margin: auto;
	padding-top: 9%;
}

#submit:hover {
	cursor: pointer;
}

#submit:active {
	border-color: darkgrey;
	cursor: pointer;
	color: darkgrey;
	width: 157px;
	height: 52px;
}

#funFact {
	position: fixed;
	margin-top: 530px;
	margin-left: 580px;
	width: 600px;
	height: 115px;
	color: white;
	font-family: Lato;
	font-size: 1.1em;
	font-weight: normal;
	text-align: left;
}



